.contacts {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1023px) {
    .contacts {
      flex-direction: column; } }
  .contacts__leftside {
    width: 330px; }
    @media (max-width: 1023px) {
      .contacts__leftside {
        width: 100%; } }
  .contacts__rightside {
    width: calc(100% - 360px); }
    @media (max-width: 1023px) {
      .contacts__rightside {
        width: 100%; } }
  .contacts__left {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 28px 32px 30px 32px;
    max-width: 430px;
    position: relative;
    z-index: 2; }
    @media (max-width: 1199px) {
      .contacts__left {
        max-width: 330px; } }
    @media (max-width: 767px) {
      .contacts__left {
        border-radius: 0px;
        box-shadow: none;
        padding: 20px 20px 25px 20px; } }
  .contacts__topic {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
    line-height: 135%;
    color: #000000;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .contacts__topic {
        font-size: 20px;
        margin-bottom: 15px; } }
  .contacts__address, .contacts__time, .contacts__email {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #000000;
    margin-bottom: 20px; }
    .contacts__address:last-child, .contacts__time:last-child, .contacts__email:last-child {
      margin-bottom: 0px; }
    @media (max-width: 767px) {
      .contacts__address, .contacts__time, .contacts__email {
        font-size: 12px;
        margin-bottom: 15px; } }
  .contacts__email {
    color: #552FEC;
    display: block; }
  .contacts__phone {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: #552FEC;
    padding: 14px 26px;
    padding-left: 47px;
    border: 1px solid #552FEC;
    border-radius: 5px;
    background-position: left 26px center;
    background-image: url(./images/phone-contacts-one.svg);
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .contacts__phone {
        font-size: 14px;
        padding: 10px 15px;
        padding-left: 35px;
        background-size: 11px;
        background-position: left 13px center; } }
  .contacts__box {
    border-radius: 10px;
    position: relative;
    padding: 6px;
    margin-bottom: 40px; }
    .contacts__box:last-child {
      margin-bottom: 0px; }
    @media (max-width: 767px) {
      .contacts__box {
        padding: 0px;
        margin-bottom: 25px;
        overflow: hidden;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); } }
  .contacts__map {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
    @media (max-width: 767px) {
      .contacts__map {
        position: relative;
        height: 240px;
        border-radius: 0px; } }
  .contacts__mapframe {
		width: 100%;
		height: 100% }	  
.contacts__map iframe, .contacts__map > ymaps {
  width: 100%!important;
  height: 100%!important; }		
.contacts__search {
	position: absolute;
	right: 0;
	top: 0px;
	z-index: 3;
	width: 50%;	}
.contacts__from {
	width: 100%;
}	