#bx_incl_area_8 {
	width: 100%;
}
#bx_incl_area_8 .global-search {
	height: 100%;
	min-height: 45px;
}
#bx_incl_area_10 {
	width: 100%;
}
#bx_incl_area_12 {
    /*display: flex;*/
    justify-content: space-between;
	width: 100%;
}
.popUp-container_i2 .basket-icon {
	display: none;
}
.top__contact a, .top__payment__name a {
	color: rgba(0, 0, 0, 0.5);
}
.top__nav.top__login a, .top__nav.top__basket.header-basket a {
	color: #000;
}
.infomedia__text .infomedia__price {
	display: none;
}
.geolocation a {
    color: #000;
}
.simple-input--plus {
	height:46px;
}
.recomend__title {
    font-weight: normal;
    font-size: 40px;
    text-align: left;
    color: #000000;
    margin-bottom: 60px;
}
.d-none {
	display: none!important;
}
.page-top-banner_mobile {
	/*display: none!important;	*/
	position: relative!important;
	z-index: 0;	
	margin-bottom: -120px!important;
	width: 100%!important;
	margin-left: 0!important;
	margin-right: 0!important;
	padding-left: 15px!important;
	padding-right: 15px!important;	
}
.page_mobile {
	margin-top: 165px!important;
}
h1 {
    line-height: 1;
    font-size: 32px;
}
.page-heading .import {
	color: #555c68;
}
.main-nav__link .import {
	color: #555c68;
	white-space: nowrap;
}
.import-block .import-block-img {
	margin: 10px 0 -20px;	
}
.import-block .import-block-img-title {
	width: 100%;
}
.import-block .import-block-img-mobile {
	display: none;
}
.import-blocksub {
	min-height: 274px;
	position: relative;
	margin: 0 -30px;
}
.import-blocksub .import-blocksub-become {
	height: 204px;
	background: #f1f1f1;
	margin: 67px 0 0 0;
	width: 100%;
	position: absolute;
}
.import-blocksub .import-blocksub-become-block {
	height: 204px;
	width: 100%;
	display: flex;
}
.import-blocksub .import-blocksub-become-block div {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.import-blocksub .import-blocksub-become-block div:first-child {
	font-size: 45px;
	line-height: 56px;
	font-weight: 400;
}
.import-blocksub .import-blocksub-become-block div:last-child {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.import-blocksub .import-blocksub-become-block div .button {
	width: 412px;
	height: 60px;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;	
	font-size: 30px;
	font-weight: 400;
	border-radius: 10px;
	margin-left: 20px;
}
.import-blocksub .import-blocksub-become-block div .button:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);	
}
.div_h1, .div_h2, .div_h3, .div_h4, .div_h5, .div_h6 {
    margin: 0;
    text-rendering: optimizeLegibility;
}
.div_h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.div_flex_h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	margin-bottom: 0;
}
.nowrap {
	white-space: nowrap;
}
.orange {
	color: #f39101;
}
.blue {
	color: #0c59cf;
}
.underline {
	text-decoration: underline;
}
#top_under_menu {
	height: 65px;
	color: #fff;
	background: #4F36E3;
}
#top_under_menu > div {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#top_under_menu > div > div {
}
#top_under_menu .contact-widget {
	text-align: right;
}
#top_under_menu .contact-widget > div {
	display: flex;
	height: 65px;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}
#top_under_menu .contact-widget__phonemail {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    width: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#top_under_menu .contact-widget__phone {
	color: #fff;
}
#top_under_menu .header-contacts__mail {
	color: #fff;
	margin-top: 0px;
	font-size: 15px;
}
.header-contacts__mail {
    margin-top: 4px;
    color: #0c59cf;
}
.eshop-panel__search {
}
.eshop-panel__search .geolocation {
	margin-top: 0;
	white-space: nowrap;
}
.eshop-panel__search .geolocation a {
	margin-top: -60px;
	display: block;
}
#fancybox-close {
     right: -35px;
}	
.catalog-feed__item .catalog-card__cover {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
	background: #f0f0f0;
	width: 84px;
	min-width: 63px;
	height: 63px;
	margin-right: 12px;
	display: none;
}
.catalog-feed__item__withpic .catalog-card__cover {
	display: block;
}
.catalog-feed__item .catalog-card__cover__white {
	background: #fff;
}
.catalog-table__column--basic.groupped {
}
.catalog-table__column--basic.is-merged h3 strong {
	display: none;
}
.catalog-table__column--basic.is-merged div strong {
	display: none;
}
.global-search__hint {
	color: #b5b5b5;
}
.special-products__tabs .widget-tabs__list {
	justify-content: center;
}
.myorders .orders-table__content {
    border-left: solid 1px #dedede;
}	
.myorders h3.orders-table__content {
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	white-space: nowrap;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;	
}
#form_auth .form__input {
	width: auto;	
}
.bx-system-auth-form .popUp-close {
	overflow: visible;
	width: 35px;
}
.delivery_items {
    width: 100%;
    height: 69px;
    display: -webkit-inline-box;
    display: -ms-flexbox;
    
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 0px;
	border-bottom: 1px solid #E7E7E7;	
}

.delivery_item {
        font-family: 'Circe Regular';
	font-size: 16px;
	line-height: 24px;
    margin: 45px 25px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    color: #000;
}

.delivery_item.active {
    font-family: 'Circe Bold';
    color: #000;
	border-bottom: 2px solid #0c59cf;
}

.delivery__tabs-list {
    display: none;
    margin-top: 35px;
}

.delivery__tabs-list.active {
    display: block;
}

.delivery__tabs-list > p {
    line-height: 1.5rem;
    margin-bottom: 25px;
}
.blue-block {
	background: #0c59cf;
	color: #fff;
	padding: 12px 15px;
	margin-top: 20px;
}
.surface-block-container {
	margin-right: -20px;
	margin-bottom: 20px;
	overflow: hidden;
}
.surface-block {
	float: left;
	width: 25%;
	height: 250px;
	text-align: center;
	margin-top: 20px;
}
.surface-inblock {
	margin-right: 20px;
	height: inherit;	
}
.surface-block .surface-image {
	height: 80%;
}
.surface-block .surface-name {
	height: 20%;
	background: #457fd8;
	color: #fff;
	font-size: 18px;
	vertical-align: middle;
	padding: 0 10px;
}
.surface-block .surface-name span {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

table.tech {
	margin: 20px 0 30px;
	border: 1px solid #1e1e1e;
}
table.tech td {
}	
table.tech th, table.tech td {
	text-align: center;
	padding: 10px;
	border: 1px solid #1e1e1e;	
}	
table.tech .dark td {
    background-color: #eee;
}
table.tech th {
    background-color: #eee;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
}	
.tech_title {
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}	
ol.tech {
}
ol.tech li {
	list-style-type: decimal;
}
.website-logo {
	width: 270px;
	height: 96px;
	/*background: url(/local/templates/moskrep/assets/design/website-logo/krep-komp.svg) no-repeat 0% 50%;*/
	background-size: contain;
}
.catalog-table .item_img_block {
	background: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	position: absolute;
	margin-left: -151px;
	margin-top: 0;
	z-index: 20;
	display: none;
}
.catalog-feed__table:first-child .catalog-table .item_img_block {
	margin-top: 51px;
}
.catalog-table .item_img_block img {
	width: 150px;
}
.catalog-table .item_img_block div {
	width: 150px;
	padding: 5px;
	box-sizing: padding-box;
	font-size: 12px;
	line-height: 15px;
	background: #0c59cf;
	color: #fff;
}
.catalog-table:hover .item_img_block {
	display: block;
}
.catalog-table .catalog-table__column:first-child:hover .item_img_block {
	display: none;
}
.catalog-table .blue-table__tr .blue-table__td:nth-child(1):hover + .blue-table__td:nth-child(2) .item_img_block {
	display: none!important;
}	
.client-widget__link.login__btn::before {
	display: none;
}
.not-decoration {
	text-decoration: none!important;
}
.pickup-view, .delivery-view {
	cursor: pointer;
}
.catalog-table {
	overflow: visible;
}
.catalog-table .catalog-table__title {
	z-index: 1;
}
.privacy {
	margin-top: 5px;
}
.simple-article__content.wysiwyg-block {
	margin: 20px 0;
}
.sales-slider__title {
	text-align: center;
	margin: 30px 0;
}
.sales-slider__header {
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#banner_block {
	padding: 0;
	border-spacing: 0;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 109px;
	margin-top: 90px;
}
#banner_block td {
	width: 33.4%;
	color: #000;
	font-weight: 500px;
	background: #fff url(/local/templates/moskrep/img/banner_ico_black02.svg) 5px 50% no-repeat;
	background-size: contain;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;	
}
#banner_block td:first-child {
	width: 33.3%;
	border-left: 0 solid #fff;
	background: #fff url(/local/templates/moskrep/img/banner_ico_black01.svg) 5px 50% no-repeat;
	background-size: contain;
}
#banner_block td:last-child {
	width: 33.3%;
	border-right: 0 solid #fff;	
	background: #fff url(/local/templates/moskrep/img/banner_ico_black03.svg) 5px 50% no-repeat;
	background-size: contain;
}
#banner_block td > div {
	border: 1px solid #c4c4c4;
	padding: 5px;
	height: 100%;
	display: flex;
	align-items: center;	
}
#banner_block td div div {
	width: 100%;
	padding: 10px 10px 10px 130px;
	box-sizing: border-box;
}
#banner_block_new {
	padding: 0;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 109px;
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
}
#banner_block_new > div {
	flex: 0 0 32.3%;
	height: 100%;
	border: 1px solid #c4c4c4;
	padding: 10px 10px 10px 130px;
	min-height: 90px;
	display: flex;
	align-items: center;
	background: #fff url(/local/templates/moskrep/img/banner_ico_black02.svg) 5px 50% no-repeat;
	background-size: contain;
}
#banner_block_new > div:first-child {
	background: #fff url(/local/templates/moskrep/img/banner_ico_black01.svg) 5px 50% no-repeat;
	background-size: contain;
}
#banner_block_new > div:last-child {
	background: #fff url(/local/templates/moskrep/img/banner_ico_black03.svg) 5px 50% no-repeat;
	background-size: contain;
}
#banner_block_new > div > div {
}
#payment {
	padding-top: 20px;
}
#feedback_form {
	margin-top: 20px;
}
.product-slider div img[data-src] {
	visibility: hidden;
}
#sales-slider__list div img[data-src] {
	visibility: hidden;
}
#intro-slider__list img[data-src] {
	visibility: hidden;
}
#sales-slider__list .catalog-card__cover {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
	background: #fff;
}
#sales-slider__list .catalog-card {
	height: 247px;
}
.catalog-feed__item .catalog-card {
	z-index: 0;
	flex-direction: row-reverse;
}
#bx-soa-total .main-button {
	color: #fff;
	text-decoration: none;
}
.basic-layout__module+.basic-layout__module {
	margin-bottom: 20px;
}
.fancybox-button--close-new {
	display: inline-block;
	top: -32px;
	right: -42px;
	float: right;
	background: transparent;
	opacity: 0.3;	
	padding: 0;
}
.fancybox-button--close-new:hover {
	opacity: 1;
}
#form_auth .form__input {
	display: inline-flex;
	align-items: center;
	height: 44px;
	padding: 0 14px;
	white-space: nowrap;
	font-size: 16px;
	color: #000;
	background-color: #fafafa;
	border: solid 2px #dedede;
	border-radius: 4px;
	transition: color .3s,border-color .3s;	
}
#social {
	overflow: hidden;
	margin: 0 0 0;
	float: left;
}
#social a {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-left: 10px;
	background-size: contain;	
}
#social a:first-child {
	margin-left: 0;	
}
#social a.vk {
	background: url(/images/social/vk.svg) no-repeat;
}
#social a.instagram {
	background: url(/images/social/instagram.svg) no-repeat;
}
#social a.youtube {
	background: url(/images/social/youtube.svg) no-repeat;
}
#social a.facebook {
	background: url(/images/social/facebook.svg) no-repeat;
}
.main_hits_title {
	font-size: 30px;
	text-align: center;
	margin: 41px 0 16px 0;
	font-weight: 700;
}
.white .widget-tabs__item {
	padding: 0;
}
.white .widget-tabs__item_del {
	padding: 0 25px;
}
.white .widget-tabs__toggle, .white .widget-tabs__toggle:hover {
	color: #979797;
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;	
	text-decoration: underline;
	font-size: 30px;
	padding: 0;
}
.widget-tabs__toggle[aria-selected=true], .white .widget-tabs__toggle[aria-selected=true]:hover {
	color: #000;
	text-decoration: none;
}
.footer_partition {
}	
.footer_partition .footer_center {
}
.footer_partition .footer_center .fast-nav__item {
	margin-top: 0px;
}
.footer_partition .footer_right {
	padding: 0 0 16px;
	min-width: 270px;
	overflow: hidden;
}
.footer_partition .footer_right .dop_menu {
	font-size: 15px;
	line-height: 27px;
	margin-top: 61px;
}
.footer_partition .footer_right .dop_menu a {
	text-decoration: none;
	color: #000;
}
.footer_partition .footer_right .dop_menu a:hover {
	text-decoration: underline;
}
.footer_partition .fast-nav__link {
	font-size: 15px;
	line-height: 18px;
}
.footer_partition .shop_name {
	width: 266px;
	font-size: 15px;
	font-weight: 500;
	margin-top: 12px;
}
.footer_partition .copy {
	color: #c4c4c4;
	font-size: 15px;
	margin: 18px 0 96px;
}
.footer_partition .copy.copy_mobile { 
	display: none;
}
.footer_partition .website-logo {
	margin-top: 18px;
}
.footer_partition > div {
}
.footer_partition .phone {
	margin: 10px 0;
}
.footer_partition .phone .project-contact__link {
	color: #000;
	font-size: 20px;
	font-weight: 700;
}
#new_catalog_bar {
	height: 52px;
	display: flex;
	align-items: center;
	color: #fff;
	margin: 23px 0 0 35px;
}
#new_catalog_bar #catalog-nav__toggle {
	font-size: 15px;
	border-radius: 4px;
}
.basic-layout__content.full {
	width: 100%;
	padding: 0;
}
.product-slider .delimetr {
	height: 2px;
	/*background: #c4c4c4;*/
	margin: 40px -20px;
}
.product-card--lite_new {
	justify-content: between;
}
.product-card--lite_new .product-card__price del {
	text-decoration-color: #000;
	color: #000;
	font-size: 15px;
}
.product-card--lite_new .div_h3.product-card__title {
	text-align: center;
}
.product-card .div_h3.product-card__title {
	text-align: center;
}
.product-card--lite_new .div_h3.product-card__title a span {
	display: block;
}
.product-card--lite_new .product-card__to-cart {
	margin-right: 20px;
}
.main-nav #main-nav__wrap {
	width: 100%;
}
.main-nav.full #main-nav__wrap {
	width: 100%;
}
.main-nav #main-nav__wrap .main-nav__list {
	width: 100%;
	display: flex;
	justify-content: space-between;	
}
.main-nav #main-nav__wrap .main-nav__list {
	width: 100%;
	display: flex;
	justify-content: space-between;	
}
.main-nav.full #main-nav__wrap .main-nav__list {
	width: 100%;
	display: flex;
	justify-content: space-between;	
}
.popular__name {
	min-height: 63px;
}
.top.relative {
	position: relative;
}
.catalog_main_menu {
	height: 100%;
	z-index: 100;
	margin-top: -30px;
}
#catalog_main_menu {
	width: 100%;
	height: 3000px;
	background: #fff;
	position: absolute;	
	left: 1px;
	margin: 65px -1px 0;
	padding: 46px 0;
	display: none;	
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}
#catalog_main_menu  > div {
	height: 100%;
}
#catalog_main_menu .left {
	width: 280px;
	padding-right: 16px;
	height: inherit;
	border-right: 1px solid #e5e5e5;
}
#catalog_main_menu .sale {
	font-weight: bold;
}
#catalog_main_menu .sale:hover a {
	/*color: #fff;
	border-radius: 4px;	
	background: #4F36E3;*/
}
#catalog_main_menu a {
	color: #000;
	font-size: 15px;
}
#catalog_main_menu .catalog-nav__item:hover, #catalog_main_menu .catalog-nav__item.active {
	border-radius: 4px;
}
#catalog_main_menu .catalog-nav__item:hover > a, #catalog_main_menu .catalog-nav__item.active > a {
	color: #fff;
	border-radius: 4px;
	background: #4F36E3;
}
#catalog_main_menu .catalog-nav__item > a:after {
	content: " ";
	display: block;
	border: 10px solid transparent;
	border-left: 10px solid #c4c4c4;
	position: absolute;
	margin-left: 229px;
	top: 13px;
}
#catalog_main_menu .catalog-nav__item:hover > a:after, #catalog_main_menu .catalog-nav__item.active > a:after {
	border-left: 10px solid #fff;
}	
#catalog_main_menu .item_title {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 15px;
	margin-left: 280px;
	padding-left: 29px;
	position: absolute;
	top: 45px;
	display: none;
}
#catalog_main_menu .catalog-nav__lvl2_new {
	position: absolute;
	margin-left: 260px;
	padding-left: 49px;
	padding-top: 25px;
	display: none;
	top: 45px;
	width: auto;
}
#catalog_main_menu .sale .catalog-nav__lvl2_new {
	margin-top: 20px;
}
/*#catalog_main_menu .catalog-nav__item:hover .catalog-nav__lvl2_new, #catalog_main_menu .catalog-nav__item:hover .item_title, */#catalog_main_menu .catalog-nav__item.active .catalog-nav__lvl2_new, #catalog_main_menu .catalog-nav__item.active .item_title {
	display: block;
}
#catalog_main_menu .catalog-nav__item:nth-child(2) .catalog-nav__lvl2_new, #catalog_main_menu .catalog-nav__item:nth-child(2) .item_title {
	/*display: block;*/
}
#catalog_main_menu .catalog-nav__lvl2_new-toggle {
	color: #000;
	font-weight: 700;
}
#catalog_main_menu .catalog-nav__lvl2_new-item {
}
#catalog_main_menu .catalog-nav__lvl2_new-item-title {
	margin: 29px 0 10px;
	clear: both;
	display: block;
	width: 100%;
}
#catalog_main_menu .catalog-nav__item .catalog-nav__lvl3_new-item.margin {
	margin-top: 29px;
}
#catalog_main_menu .catalog-nav__item .catalog-nav__lvl3_new-item.hide {
	display: none;
}
#catalog_main_menu .catalog-nav__item .catalog-nav__lvl3_new-item:hover a {
	text-decoration: underline;
}
#catalog_main_menu .catalog-nav__item .catalog-nav__lvl2_new-item:hover > a {
	text-decoration: underline;
}
#catalog_main_menu .catalog-nav__item .catalog-nav__lvl3_new-item.more {
	margin-top: 5px;	
	margin-bottom: 5px;
}
#catalog_main_menu .catalog-nav__item .catalog-nav__lvl3_new-item.more a {
	text-decoration: underline;
	color: #4F36E3;
}
#catalog_main_menu  .catalog-nav__lvl2_new-list {
	width: 100%;
	/*height: 2700px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;	
}
#catalog_main_menu .catalog-nav__lvl2_new-list > div {
	/*width: 25%;*/
	width: 226px;
	padding-right: 20px;
}
#catalog_main_menu .sale .catalog-nav__lvl2_new-list > div {
	width: 100%;	
}
#catalog_main_menu .sale .catalog-nav__lvl2_new-list .special-products__item {
	flex: 0 0 300px;
    max-width: 300px;
}
#catalog_main_menu .sale .catalog-nav__lvl2_new-list .special-products__item .product-card__price {
	color: #000;
}
#catalog_main_menu .sale .catalog-nav__lvl2_new-list .special-products__item .product-card__state {
	color: #000;
}
#catalog_main_menu .catalog-nav__sale {
	font-size: 15px;
	color: #000;
	font-weight: 500;
}
#catalog_main_menu .catalog-nav__sale a {
	color: #000;
}
#catalog_main_menu .main-button.more {
	margin: 0 auto;
	position: relative;
	top: 52px;
}
.open_menu.active .simple-menu-icon {
    width: 18px;
    height: 18px;
    background-image: url(/local/templates/moskrep/img/simple-menu_close.svg);
}
#top_under_menu .contact-widget .mobile {
	display: none;
}
#catalog_main_mobile_menu {
	position: absolute;
	background: #fff;
	width: calc(100% + 1px);
	z-index: 100;
	left: -1px;
	top: -1px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
	display: none;
}
#catalog_main_mobile_menu .menu_close_bar div {
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 700;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
    background: url(/local/templates/moskrep/img/simple-menu_close_black.svg) no-repeat calc(100% - 21px) 50%;	
	background-size: 17px 17px;
}
#catalog_main_mobile_menu .menu_close_bar span {
	display: none;	
}
#catalog_main_mobile_menu .menu_close_bar span:before {
	content: " ";
	display: block;
	border: 10px solid transparent;
	border-right: 10px solid #000;
	position: absolute;
	margin: 17px 21px 0;
	cursor: pointer;
}
#catalog_main_mobile_menu .items {
	padding: 20px;
}
#catalog_main_mobile_menu a {
	color: #000;
	font-size: 15px;
	font-weight: 500;
}
#catalog_main_mobile_menu .catalog-nav__item.sale a {
	font-weight: 700;
}
#catalog_main_mobile_menu .catalog-nav__item:hover, #catalog_main_menu .catalog-nav__item.active {
	border-radius: 4px;
}
#catalog_main_mobile_menu .catalog-nav__item:hover > a, #catalog_main_menu .catalog-nav__item.active > a {
	color: #fff;
	border-radius: 4px;
	background: #4F36E3;
}
#catalog_main_mobile_menu .catalog-nav__item.parent > a:after {
	content: " ";
	display: block;
	border: 10px solid transparent;
	border-left: 10px solid #c4c4c4;
	position: absolute;
	margin-left: calc(100% - 33px);
}
#catalog_main_mobile_menu .catalog-nav__item.parent:hover > a:after, #catalog_main_menu .catalog-nav__item.parent.active > a:after {
	border-left: 10px solid #fff;
}	
#catalog_main_mobile_menu .children {
	display: none;
}
#catalog_main_mobile_menu .sale .catalog-nav__lvl2_new-list > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;		
}
#catalog_main_mobile_menu .sale .catalog-nav__lvl2_new-list a {
	font-size: 15px;
}
#catalog_main_mobile_menu .sale .catalog-nav__lvl2_new-list a:hover {
	text-decoration: underline;
}
#catalog_main_mobile_menu .main-button.more {
	margin: 30px auto 10px;
}
.basic-layout__module.product-slider .basic-layout__module.product-slider {
}
.basic-layout__module.product-slider .product-slider__list {
	justify-content: center;	
}
.basic-layout__module.product-slider .product-slider__list .slick-slide, .basic-layout__module.product-slider .product-slider__list .product-slider__item {
	min-width: 312px;
	max-width: 312px;
}
.basic-layout__module.product-slider .product-slider__list .product-card__footer, .product-card--lite .product-card__footer {
	margin-top: 16px;
}
.product-slider.big {
	display: none;
}
.box-modal__head {
	min-width: 220px;
}
.product-card .div_h3.product-card__title {
	z-index: 1;
}
#filter__catalog {
	width: 100%;
}
#filter__catalog button {
	margin: 40px 0 -12px;
	min-width: 100%;
	height: 32px;
	padding-top: 3px;
}
#filter__catalog button i {
	display: none;
}
#filter__catalog .catalog-feed__filter {
	background-color: #4F36E3;
	position: relative;
	z-index: 2;
	cursor: pointer;	
}
.catalog-feed__filter_mobile {
	background-color: #4F36E3;
	border: 1px solid #fff;	
	margin: 0 20px 20px;
	width: calc(100% - 40px);
}
#filter__catalog_desktop {
	display: block;
}	
#filter__catalog {
	display: none;
}
.send-a-request {
	border-radius: 10px;
}
#tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 0px;
    left: inherit!important;
    background-color: #eaeaea;
    padding: 8px 10px 7px 10px;
    color: #000;
	font-size: 0.875rem;
	/*
	border: 1px solid #dfdfdf;
	box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.25);
	*/
	margin-top: 7px;
	margin-left: 220px;
}
#tooltip:before {
    position: absolute;
    top: 50%;
    left: auto;
    right: 100%;
    width: 0;
    height: 0;
    margin-top: -19px;
    content: '';
    border: solid transparent;
    border-width: 19px;
    border-color: rgba(89,89,89,0);
    border-right-color: #eaeaea;	
    pointer-events: none;
}
#tooltip a {
	color: #4F36E3;
}
.page_count_panel {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 41px;
	margin: 0 5px 21px;
	overflow: visible;
}
.page_count_panel .page_count_panel_viewblock {
	color: #8c8c8c;
	font-size: 12px;
	line-height: 15px;
	padding-top: 13px;
}
.page_count_panel .page_count_panel_block {
	overflow: visible;
	position: relative; 
	margin-top: 13px;
}
.page_count_panel .page_count_panel_block::after {
  content: " ";
  background: url(/images/select_arrow.svg) no-repeat 50% 50%;
  background-size: contain;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 17px;
  height: 41px;
  pointer-events: none;
  box-sizing: border-box;
  margin: 0;
  top: 1px;
  right: 13px;	
}
.page_count_panel .page_count_panel_block select {
    border: 2px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    padding-left: 19px;
    padding-right: 39px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: 13px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
	max-height: 41px;
}	
#top_under_menu .call-back {
    color: #000;
    background: #fff;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    padding: 10px 20px 9px;
    cursor: pointer;
    margin-left: 15px;
}
#top_under_menu .call-back:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}	
.catalog-feed__list {
	margin-top: 0;
}
.category-blocknew .category-blocknew__title.open {
	float: left;
	margin-block-start: 0;
}
.category-blocknew .category-blocknew__list.open {
	display: flex;	
	width: auto;
	padding-left: 6px;
	position: relative;
	right: -20px;
	padding-right: 100px;	
}
.category-blocknew .category-blocknew__list .category-blocknew-block {
	display: flex;
}
.category-blocknew .category-blocknew__list.open.opening {
	position: relative;
	height: 43px;
	overflow: hidden;
	padding-right: 100px;
}
.category-blocknew .category-blocknew__list.open span {
	position: absolute;
	left: calc(100% - 114px);
	top: 0%;
	display: block;	
	margin-top: 7px;
	color: #4f36e3;
	text-decoration: underline;
	cursor: pointer;
	font-size: 15px;
	line-height: 18px;
	width: 90px;
	text-align: right;
	padding-right: 19px;
}
.category-blocknew .category-blocknew__list.open.opening span {	
}
.category-blocknew .category-blocknew__list.open span::after {
	background: url(/images/arrow_open.svg) no-repeat;
    background-size: contain;
    width: 12px;
    height: 9px;
    display: block;	
    float: right;	
	position: absolute;
	top: 5px;
	left: calc(100% - 12px);
    content: " ";	
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);	
}
.category-blocknew .category-blocknew__list.open.opening span::after {	
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}	
.main-nav__item.is-active .main-nav__link {
	color: #4F36E3;
	font-size: 14px;	
}
.website-navbar__primary .main-nav__list .main-nav__item a {
	font-size: 14px;
}
.website-navbar__primary .main-nav__list .main-nav__item:first-child a {
	color: #4F36E3!important;	
}
.table-of-contents {
    border: 1px solid #979797;
    border-radius: 10px;
	margin-top: 20px;
}
.table-of-contents__link {
    color: #4F36E3;
}
.colored-cart-icon {
    background-image: url(../img/colored-cart.svg);
}	
.pickup-view {
    background: url(../img/Shape-01.svg) no-repeat;
	background-size: contain;
}
.delivery-view {
    background: url(../img/Shape-02.svg) no-repeat;
	background-size: contain;
}	
.simple-user-icon {
    background-image: url(../img/simple-user.svg);
}	
.website-navbar {
	margin: 18px 0 -5px;
}
.top__logoblock {
	display: flex;
}
.top__form {
	margin: 0 10px!important;
}
.basic-layout__module.pages-nav {
	margin-top: 15px;
}
.sale-category__date {
	margin-top: 10px;
}
.wholesale-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.015em;
    color: #000000!important;
	text-decoration: underline;	
}
#wholesale-block {
	display: none;
}
.wholesale-block {
	width: 354px;
	max-width: calc(100% - 20px);
	background: #fff;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 10px;	
	text-align: center;
}	
.wholesale-block__top {
	padding: 19px 46px 0;	
}
.wholesale-block__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 125%;
	/* or 22px */
	letter-spacing: 0.015em;
	color: #000000;	
	text-align: center;
}
.wholesale-block__table-block {
	border: 1px solid #000000;		
	border-radius: 5px;	
	margin: 26px 0 33px;	
}
.wholesale-block__table {
	box-sizing: border-box;
	border-collapse: collapse;
	width: 100%;
}
.wholesale-block__table td {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 125%;
	/* or 17px */
	text-align: center;
	vertical-align: center;
	letter-spacing: 0.015em;
	border: 1px solid #000000;	
	padding: 8px 10px;
}
.wholesale-block__table td:first-child {
	font-weight: 600;
	font-size: 18px;
}
.wholesale-block__bottom {	
	padding: 30px 81px 31px;
	background: #4F36E3;
	border-top: 1px solid #000000;
	position: relative;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;	
}
.wholesale-block__bottom::before {	
	width: 24px;
	height: 24px;
	background: #fff;
	display: block;
	content: " ";
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	position: absolute;
	transform: rotate(45deg);
	top: -12px;
	left: calc(50% - 12px);
}
.wholesale-block__discover {
	border: 1px solid #fff;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 125%;
	/* or 17px */
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	letter-spacing: 0.015em;
	color: #FFFFFF;	
	height: 42px;
	width: 100%;
	border-radius: 10px;
}
.table__name_nal {
	text-align: left;
	padding-left: 2px;
}
.added-product {
    margin-top: 20px;
}
.wholesale-baskte-block {
	padding: 29px 0 19px;
}
.wholesale-baskte-block__sale {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	/* or 31px */
	align-items: center;
	text-align: right;
	color: #FF6C6C;	
	text-align: right;
}
.wholesale-baskte-block__sale b {
	font-weight: bold;
}	
.wholesale-baskte-block__sum {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	/* or 31px */
	align-items: center;
	text-align: right;
	color: #8A8C8E;	
	margin-top: 7px;
	text-align: right;
}
.wholesale-baskte-block__sum b {
	font-weight: bold;	
	color: #000;
}
.blue-btn {
    background: #4F36E3;
}
.top__nav.top__login a.blue-btn, .top__nav.top__basket.header-basket a.blue-btn {
	color: #fff;
}
#bx_basket1 .added-product__close {
	font-size: 17px;
	margin-left: calc(50% - 10px);
}
.added-product__close:before {
	margin-left: 25px!important;
	color: #4F36E3;	
}
.box-modal__title {
	line-height: 21px;
	max-width: 80%;
}
.table__topside .table__img {
    object-fit: contain;	
}
.footer__payments {
	display: flex!important;
}
/*
.desc p, .desc li, .desc div {
    font-size: 14px!important;
}	
.client-widget__link {
    font-size: 14px!important;
}
.top__address {
    font-size: 14px!important;
}
.geo .global-geosearch__submit {
    font-size: 14px!important;
}
.top__payment__name {
    font-size: 14px!important;
}
.top__contact {
    font-size: 14px!important;
}
.top__chat {
    font-size: 14px!important;
}
.top__phone {
    font-size: 14px!important;
}
.top__nav {
    font-size: 14px!important;
}
.popular__name {
    font-size: 14px!important;
}
.popular__date {
    font-size: 14px!important;
}
.popular__delivery {
    font-size: 14px!important;
}
.popular__get {
    font-size: 14px!important;
}
.popular__old {
    font-size: 14px!important;
}
.popular__offer {
    font-size: 14px!important;
}
*/
.footer-yandex-widget {
	margin-top: 20px;
	position: relative;
}
.footer__payments {
	justify-content: center;
}
.modal-can-register-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    right: 0;
    background: rgba(0,0,0,.8);
    overflow: auto;
    transition: opacity .3s;
    transform: translateZ(0);
    box-shadow: 0 0 10rem 10rem rgb(0 0 0 / 80%);
    border-radius: 3px;
    box-sizing: border-box;
    z-index: 100000;
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}
.inmodal-can-register-mobile {
	width: 367px;
	max-width: 100%;	
	max-height: 97%;
	margin: auto;
}
.can-register-mobile {
	background: #F9F5FF url('/images/can-register-mobile.png') 50% 50% no-repeat;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}	
.can-register-mobile_title {
	margin: 17px 36px 25px 25px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 115%;
}
.can-register-mobile-info {
	margin: 0 24px;
}
.can-register-mobile-info_item {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 115%;
	padding-left: 85px;
	margin-bottom: 28px;
}
.can-register-mobile-info_title {
	margin-bottom: 5px;	
}
.can-register-mobile-info_item__sale {
	background: transparent url('/images/can-register-info_item__sale.svg') 0 50% / 61px 63px no-repeat;	
}
.can-register-mobile-info_item__history {
	background: transparent url('/images/can-register-info_item__history.svg') 0 50% / 58px 60px no-repeat;	
}	
.can-register-mobile-info-group {
}
.can-register-mobile-info-group_item {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	color: #000000;	
}
.can-register-mobile-info-group_item::before {
  content: '\2981';
  color: #552FEC;
  font-size: 15px;
  margin-right: 7px;
  font-family: Arial;
}
.can-register-mobile__button {
	width: 181px;
	max-width: 90%;
	height: 43px;
	color: #fff;
	background: #552FEC;
	display: block;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;	
	font-size: 15px;
	line-height: 115%;	
	margin: auto;
	border-radius: 10px;
}
.can-register-mobile__no-personal {
	max-width: 90%;
	margin: 20px auto 8px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 115%;
	display: block;
	text-align: center;
	width: 200px;
	color: #000000;
}
.can-register-mobile__registration {
	max-width: 90%;	
	margin: 0 auto;	
	margin-bottom: 21px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 115%;
	display: block;
	text-align: center;
	width: 200px;
	color: #552FEC;
}
.can-register-mobile_close {
	width: 11.5px;
	height: 11px;
	background: transparent url('/images/can-register_close.svg') 0 0 / contain no-repeat;	
	cursor: pointer;	
	position: absolute;
	top: 12px;
	right: 12px;
}
#added-basket span {
	display: none!important;	
}
#added-basket {
	border: 1px solid #000;
}
.mobile__ul--active {
	z-index: 2;
}
#global-geoitem-search {
	height: calc(100% + 3px);
}
.geo li, .geo li.master {
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 12px;
}




@media (min-width: 1261px) {
.basic-layout__module__sections {
	min-width: 1216px;
}	
.catalog-feed__list {
	margin: 0 -10px;
}
.catalog-feed__item {	
	flex: 0 0 307px;
    max-width: 307px;
    padding: 0 10px;
}	
}



@media (min-width: 991px) {
.footer_partition {
	display: flex;
}		
.footer_partition .footer_center {
	padding: 85px 105px 102px
}
.footer_partition .footer_right {
	padding: 0;
}
.product-card--lite_new .product-card__to-cart {
	margin-right: 20px;
	height: 51px;
	width: 51px;
}
.product-card--lite_new .product-card__image-block {
	display: flex;
    width: 100%;
    height: 170px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.product-card--lite_new .simple-cart-icon {
	background-image: url(/local/templates/moskrep/img/push-cart.svg);
	width: 30px;
	height: 30px;
}
.product-card--lite_new .simple-cart-icon {
	height: 30px!important;
	width: 30px!important;
	background-size: 30px;
}
	
.footer_partition .website-about__nav {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 16px;
}	
.product-card--lite_new .div_h3.product-card__title {
	min-height: 70px;
}
#catalog_main_menu .catalog-nav__lvl2_new {
	width: 956px;
}	
/*МЕНЮ*/
#catalog-nav__wrap {
	min-height: 710px;
}
.catalog-nav__lvl.is-active {
	border-bottom-right-radius: 0;
}
.catalog-nav__lvl2 {
	height: auto;
	min-height: 710px;
	border-left: 12px solid #0544a4;
	border-bottom-left-radius: 4px;
	right: -280px;
}
.catalog-nav__lvl2-list {
	height: auto;
	min-height: 100%;
}
.catalog-nav__lvl2.is-active {
	height: auto;	
	display: block;
}
.catalog-nav__lvl3 {
	min-height: 710px;	
}
.catalog-nav__lvl1-toggle {
	z-index: 5000;
	position: relative;
}
/*МЕНЮ*/
.basic-layout__module.product-slider .product-slider__list {
	margin: 0 -50px;
}
.product-slider.big {
	display: block;
}
.product-slider.small {
	display: none;
}
.product-slider.big #product-slider__list .slick-list {
	min-width: calc(600px);
}
.basic-layout__columns--reverse .basic-layout__sidebar .back-to-page {
	display: none;
}	
.basic-layout__content .crumbs-nav {
	/*position: absolute;*/
	margin-left: -312px;
	margin-bottom: -20px;
}
}


@media (max-width: 1260.98px) and (min-width: 991px) {
.basic-layout__content .crumbs-nav {
	/*position: absolute;*/
	margin-left: -260px;
	margin-bottom: -20px;
}
.catalog-feed__item {
	flex: 0 0 33.33%;
    max-width: 33.33%;
}
.footer_partition .footer_center .fast-nav__item {
	white-space: nowrap;
}
.footer_partition .footer_center {
    padding: 85px 55px 102px;
}
}




@media (min-width: 741px) {
h1 {
    font-size: 38px;
}
.website-navbar__primary {
    padding-left: 0;
}	
img.intro-slider__image {
	width: 100%;
}
.catalog-feed__table:last-of-type:not(:first-of-type) .cart-table, .catalog-feed__table:last-of-type:not(:first-of-type) .catalog-table, .catalog-feed__table:last-of-type:not(:first-of-type) .orders-table {
	border-radius: 0 0 10px 10px;
}
.catalog-feed__table:first-of-type:not(:last-of-type) .cart-table, .catalog-feed__table:first-of-type:not(:last-of-type) .catalog-table, .catalog-feed__table:first-of-type:not(:last-of-type) .orders-table {
   border-radius: 10px 10px 0 0; 
}
.catalog-table__column:first-child .catalog-table__title {
	border-radius: 10px 0 0 0; 
}
.catalog-table__column:last-child .catalog-table__title {
	border-radius: 0 10px 0 0; 
}
.catalog-feed__table:last-child .catalog-table__column:first-child  .catalog-table__content {
	border-radius: 0 0 0 10px;
}
.catalog-feed__table:last-child .catalog-table__column:last-child  .catalog-table__content {
	border-radius:  0 0 10px 0; 
}
.catalog-feed__table .catalog-table {
    border-bottom: solid 1px transparent;
}
.catalog-feed__table:last-of-type .catalog-table {
	border-bottom: solid 1px #dedede;
}
.table__add { 
	background: #552FEC!important;
}
.product-purchase__price {
	white-space: nowrap;
	font-size: 22px;
	line-height: 40px;
}
.card-price-dop {
    font-size: .75rem;
    line-height: 0;
}
}

@media (min-width: 685px) {
#top_under_menu .contact-widget > div {
	display: flex;
	height: 65px;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
#top_under_menu .contact-widget > div > a {
	margin-left: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
}



@media (max-width: 990.98px) and (min-width: 741px) {
.main-nav__item:nth-of-type(3), .main-nav__item:nth-of-type(4) {
    display: list-item;
}
#catalog_main_menu .catalog-nav__item {
    display: flex;
	width: 100%;
}
#catalog_main_menu .catalog-nav__item a {
    display: flex;
	width: 100%;
}
}




@media (max-width: 1200px) {
.catalog-table .item_img_block {
	display: none!important;
}
#banner_block_new {
	flex-direction: column;	
}
#banner_block_new > div {
	flex: 0 0 0;
	margin-bottom: 10px;
}
#banner_block td {
	width: 100%;
	border-left: 0 solid #fff;
	border-right: 0 solid #fff;	
	display: block;
	margin-bottom: 10px;
	min-height: 100px;
}
#banner_block td:first-child {
	width: 100%;
}
#banner_block td:last-child {
	width: 100%;
	margin-bottom: 3px;	
}
#banner_block td > div {
	padding-bottom: 15px;
}
#banner_block td div div  {
	display: table-cell;
	width: 100%;
	height: 100px;
	vertical-align: middle;
}
.catalog-feed__item__withpic {
    margin: 0 10px 21px!important;	
}
}


@media (max-width: 1000px) {
.website-navbar {
	margin-top: -50px;
	margin-left: -20px;
	width: calc(100% - 170px);
}
.main-nav__item a {
	white-space: nowrap;	
}
.main-nav__item:not(:first-of-type) {
	margin-left: 14px;
}
}




@media (max-width: 990.98px) {
#catalog-filter {
	overflow-y: scroll;
}
#catalog-filter-trigger {
	padding-top: 11px;
	position: relative;
	top: 20px;
}
#catalog_main_menu .catalog-nav__item {
	position: static;
}
#catalog_main_menu .catalog-nav__item a {
	position: relative;
}
.product-card--lite_new .product-card__image-block {
	text-align: center;
	min-height: 187px;
}
.product-card--lite_new .product-card__image {
	margin: auto;
}
.product-card--lite_new .div_h3.product-card__title {
	min-height: 57px;
	display: flex;
	align-items: center;
}
.filter.filter--page {
    margin-top: 0;
}
.multi-wrapper {
	margin: 50px 0 0!important;
}
.multi-search .multi-wrapper .multi-layout {
    margin: 0!important;
}
}





@media (max-width: 767px) {
.page.page_catalog {
    margin-top: 146px;
}
.page-top-banner_mobile {
	/*display: none!important;	*/
	position: relative!important;
	z-index: 0;
	margin-bottom: 0px!important;
}
.page_mobile {
	margin-top: 48px!important;
}
}






@media (max-width: 740px) {
.catalog-table__column--basic.is-merged div strong {
    display: inline;
}	
.global-search__hint.global-search__hint--lite.moskrep_submit, .surface-block, .tech_title, table.tech {
	display: none;
}
.import-blocksub .import-blocksub-become-block div:first-child {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.import-blocksub .import-blocksub-become-block div .button {
	width: 202px;
	height: 44px;
	font-size: 20px;
	line-height: 24px;
}
.catalog-desc__data {
	display: none;
}
.catalog-desc__about {
	display: none;
}
.catalog-feed__item.catalog-feed__item_sale {
	padding: 0 30px;
}
}





@media (max-width: 685px) {
#tooltip {
    margin-top: 0!important;
    margin-left: 0!important;
	top: 0!important;
	left: 0!important;

}
#tooltip:before {
    display: none;
}
.category-blocknew .category-blocknew__title.open {
	float: none;
}
.catalog-feed__item {
    flex: 0 0 100%;
    max-width: 100%;
}	
#filter__catalog_desktop {
	display: none;
}	
#filter__catalog {
	display: block;
}
.catalog-table__column--basic.is-merged h3 strong {	
	display: inherit;
}
#bx_basket1 .added-product__close {
	position: relative;
	top: -20px;
}	
#added-basket {
	width: 95%;
/* Firefox */
height: -moz-calc(100% - 10px);
/* WebKit */
height: -webkit-calc(100% - 10px);
/* Opera */
height: -o-calc(100% - 10px);
/* Standard */
height: calc(100% - 10px);	
}	
#bx_basket1 td, #bx_basket1 th, #bx_basket1 .line-btn {
	display: block;
	width: 100%;
}
#bx_basket1 .line-btn a {
	width: 100%;
	margin-top: 15px;
}
#social {
	padding: 18px 0 0;
	float: none;
	display: table;
	margin: 0;
}
#social a {
	width: 43px;
	height: 43px;
	float: left;
	margin-left: 15px;
}
.footer_partition .shop_name {
	font-size: 20px;
	width: 100%;
	font-weight: 700;
}
.footer_partition .phone .project-contact__link {
	display: none;
}
.footer_partition .copy {
	margin-bottom: 0px;
}
.footer_partition .copy.copy_mobile {
	display: flex;
}
.footer_partition .copy.copy_desktop { 
	display: none;
}
.footer_partition .footer_right  {
	overflow: hidden;
}
.footer_partition .footer_right > div {
}
.footer_partition .footer_right .dop_menu {
	margin-top: 20px;
}	
.footer_partition .footer_center {
}
.footer_partition .website-logo {
}
#top_under_menu {
	height: 41px;
}
#top_under_menu .contact-widget .desktop {
	display: none;
}
#top_under_menu .contact-widget .mobile {
	display: flex;
}
#top_under_menu .contact-widget > div {
	flex-direction: row;
	align-items: center;
	height: 41px;
}
#top_under_menu .contact-widget > div a {
	width: 28.5px;
	height: 28.5px;
	margin-left: 15px;
	float: right;
	display: block;
}
#top_under_menu .contact-widget > div #header_mail, #top_under_menu .contact-widget > div #header_mail_mobile {
	background: url(/local/templates/moskrep/img/iconmonstr-email-4.svg) 50% 50% no-repeat;
	background-size: 28.5px 21px;
}
#top_under_menu .contact-widget > div .header-contacts__phone {
	background: url(/local/templates/moskrep/img/iconmonstr-phone-1.svg) 50% 50% no-repeat;	
	background-size: 18px 19.5px;
}
#new_catalog_bar {
	position: absolute;
	margin-left: 0;
	margin-top: 91px;
	width: calc(100% - 70px);
}
#catalog_main_menu {
	margin-left: -30px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0);
}
#catalog_main_menu .left {
	width: 200px;
	padding-right: 10px;
}
#catalog_main_menu .catalog-nav__item a {
	padding-right: 50px;
}
#catalog_main_menu .catalog-nav__item > a:after {
	margin-left: 149px;
}	
atalog_main_menu .catalog-nav__lvl1-link, .catalog-nav__lvl1-toggle {
	width: 100%;
}
#new_catalog_bar #catalog-nav__toggle {
	width: 120px;
	height: 32px;
	margin-top: -14px;
}
#new_catalog_bar #catalog-nav__toggle > span {
	display: none;
}
.basic-layout__module.intro-slider {
	margin-top: -42px;
}
#new_catalog_bar .simple-menu-icon {
	display: inline-flex;
}
.eshop-panel__search {
	/*display: none;*/	
}
.eshop-panel__search {
	display: block;
	position: absolute;
	width: calc(100% - 190px);
	max-width: 460px;
	margin-left: 129px;
	margin-top: 93px;	
	padding-left: 0;
}
.eshop-panel__search.main {
	display: block;
	position: absolute;
	width: calc(100% - 190px);
	max-width: 460px;
	margin-left: 129px;
	margin-top: 93px;	
	padding-left: 0;
}
.eshop-panel__search .simple-input {
	border: 1px solid #000;
	height: 32px;
}
.global-search__submit {
	margin-top: -9px;
	background-image: url(../img/loupe_icon-icons.com_58875.svg);
	right: 11px;	
}
#catalog_main_menu .catalog-nav__item.active .catalog-nav__lvl2_new, #catalog_main_menu .catalog-nav__item.active .item_title {
}
#catalog_main_menu .item_title {
	margin-left: 190px;
	font-size: 17px;
	line-height: 19px;
}
#catalog_main_menu .catalog-nav__lvl2_new {
	margin-left: 170px;
}
#top_under_menu {
	position: fixed;	
	width: 100%;
	z-index: 9;
}
/*-------------------------------------------*/
.basic-layout__header {
	width: 100%;
	min-height: 107px;
	position: fixed;
	background: #fff;
	z-index: 8;
	margin-top: 41px;
}
.basic-layout__header.static {
	position: static;
}
.basic-layout__header.fixed {
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}
main.catalog {
	margin-top: 188px;
}
main {
	margin-top: 148px;
}
.eshop-panel {
	margin-top: 0;
}
.main_hits_title {
	margin: 25px 0 0;
}
.product-slider .delimetr {
	display: none;
}
#banner_block_new {
	margin: 10px 0;
}
.simple-user-icon.client-widget__icon {
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
}
.simple-user-icon.client-widget__icon {
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
}
.colored-cart-icon {
    width: 21px;
    height: 17.25px;
    background-size: 21px 17.25px;
}	
.client-widget__amount {
	width: 17.25px;
	height: 17.25px;
	font-size: 10px;
	right: 1px;
}
.client-widget__link {
	font-size: 12px;
	height: 45px;
}
.website-logo {
	height: 65px;
}
#new_catalog_bar {
	margin-top: 60px;
}
.eshop-panel__search, .eshop-panel__search {
	margin-top: 60px;
}
.eshop-panel__search, .eshop-panel__search.main {
	margin-top: 60px;
}
.basic-layout__common {
    margin-bottom: 20px;
}	
.special-products__tabs.widget-tabs {
	margin-bottom: 0;
}
#catalog_main_mobile_menu .sale .catalog-nav__lvl2_new-list  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#catalog_main_mobile_menu .sale .catalog-nav__lvl2_new-list .special-products__item {
}
.footer_partition .website-about__nav {
	margin-top: 40px;
}
.multi-closeIcon {
	top: 9px!important;
}
.multi-search .multi-layout {
	margin: 0 20px!important;
}
.import-blocksub .import-blocksub-become-block div:first-child {
	padding-left: 20px;
}	
.added-product__price {
    margin-left: 20px;
    margin-top: -10px;
}	
}






@media (max-width: 530px) {
#new_catalog_bar {
	width: calc(100% - 100px);
}	
.eshop-panel__search {
	max-width: 203px;
	min-width: 193px;
}
.eshop-panel__search.main {
	max-width: 203px;
}
main {
	margin-top: 138px;
}
.fast-nav__list {
	display: flex;
}
.footer_partition .footer_center .fast-nav__item {
	flex: 0 0 50%;
}
.basic-layout__module.intro-slider {
	margin-top: -32px;
}
.multi-search .multi-layout {
	margin: 0 10px!important;
}
.import-blocksub .import-blocksub-become-block div:first-child {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
}
.import-blocksub .import-blocksub-become-block div .button {
	width: 101px;
	height: 22px;
	font-size: 10px;
	line-height: 12px;
	margin-right: 20px;
}
.import-blocksub .import-blocksub-become {
	height: 75px;
	margin-top: 40px;
}
.import-blocksub .import-blocksub-become-block {
	height: 75px;
}
.import-blocksub {
    min-height: 145px;
}	
.import-block .import-block-img {
	display: none;
}
.import-block .import-block-img-mobile {
	display: block;
	margin: 20px 0 10px;	
}
.page_count_panel {
	height: 90px;
}
.page_count_panel .page_count_panel_viewblock {
	margin-right: 20px;
}
.catalog-feed__item__withpic {
    margin: 0 7px 21px!important;	
}
/*
.basic-layout__module .catalog-feed__list {
   margin: 0 -26px!important;
}	
.basic-layout__module .catalog-feed__item__withpic {
    margin: 0 5px 10px!important;
}
*/
.basic-layout__columns {
	padding: 0 2px;
}
}










@media (max-width: 320px) {
	#banner_block_new > div > div {
		font-size: 14px;
	}
.catalog-feed__item__withpic {
		/*width: calc(100% - 14px);
		height: auto;
		flex: 0 0 calc(100% - 14px);
		max-width: calc(100% - 14px);*/	
	}
.catalog-feed__list {
    justify-content: center;
	align-items: center;
}		
}









/*Страница каталога*/
.basic-layout__module.see-also-widget {
	display: none;
}
.pages-nav__item.is-active .pages-nav__link {
	background: #4f36e3;
	box-shadow: inset 0 1px 3px transparent;
}	
.pages-nav__item .pages-nav__link:hover {
	background: rgba(79, 54, 227, 0.2);
}
.category-blocknew {	
	margin: 49px 0;
}
.category-blocknew .category-blocknew__title {
	font-size: 20px;
	line-height: 24px;
	overflow: hidden;
}
.category-blocknew .category-blocknew__title span {
	display: block;
	float: left;
	cursor: pointer;
	position: relative;
	margin-right: 22px;
}
.category-blocknew .category-blocknew__title span::after {
	background: url(/images/arrow_open.svg) no-repeat;
	background-size: contain;
	width: 12px;
	height: 9px;
	display: block;
	left: calc(100% + 10px);
	top: 8px;
	float: right;
	position: absolute;
	content: " ";	
}	
.category-blocknew .category-blocknew__title.open span {
	cursor: default;
}
.category-blocknew .category-blocknew__title.open.opening span {
	/*cursor: pointer;*/	
}
.category-blocknew .category-blocknew__title.open span::after {
	display: none;
}
.category-blocknew .category-blocknew__title.open.opening span::after {
	/*display: block;*/
}
.category-blocknew .category-blocknew__title span.open::after {
	background: url(/images/arrow_close.svg) no-repeat;
	background-size: contain;	
}
.category-blocknew .category-blocknew__list {
	display: none;
	flex-wrap: wrap;
	width: calc(100% + 20px);
}
.category-blocknew .category-blocknew__list.open {
	display: flex;	
}
.category-blocknew .category-blocknew__list .category-blocknew__item {
	display: block;
	margin-right: 20px;
	margin-bottom: 12px;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
}
.category-blocknew .category-blocknew__list .category-blocknew__item a {
	color: #000;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	padding: 8px 35px 9px 35px;	
	background: #f0f0f0;
	border: 1px solid #c4c4c4;	
}
.category-blocknew .category-blocknew__list .category-blocknew__item a:hover {
	background: rgba(79, 54, 227, 0.2);
	border: 1px solid #4f36e3;	
}
.catalog-feed__item {
	margin: 0 0 21px;
}
.catalog-feed__item .catalog-card .catalog-card__title {
	background: transparent;
    margin-block-start: 0;
    margin-block-end: 0;
	border-radius: 10px;
	padding-right: 12px;
	padding-right: 20px;
}
.catalog-feed__item .catalog-card .catalog-card__title a {
    font-size: 20px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;	
	display: block;
	width: 100%;
}	
.catalog-feed__item .catalog-card {
	border-radius: 10px;
	border: 0 solid transparent;
	background: #f0f0f0;
	justify-content: center;
	min-height: 106px;
}
.catalog-feed__item__withpic {
	width: 160px;
	height: 147px;
	flex: 0 0 160px;
    max-width: 160px;
    margin: 0 20.5px 21px;	
	padding: 0;
}
.catalog-feed__item__withpic .catalog-card .catalog-card__title {
	border-radius: 0px;
	padding-right: 0px;
	padding-right: 0px;
	padding: 0px 10px;
	min-height: 57px;
}
.catalog-feed__item__withpic .catalog-card .catalog-card__title a {
    font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	margin-top: -7px;
	text-align: center;	
	display: block;
	width: 100%;
}	
.catalog-feed__item__withpic .catalog-card {
	border-radius: 10px;
	border: 0 solid transparent;
	background: #f0f0f0;
	justify-content: space-between;
	min-height: 106px;
	flex-direction: column;
}
.catalog-feed__item__withpic.catalog-feed__item__white .catalog-card {
	background: #fff;	
	border: 1px solid #f0f0f0;
	overflow: hidden;
}
element.style {
}
.catalog-feed__item__withpic .catalog-card__cover {
	display: flex;
	align-content: center;
	overflow: hidden;
    width: 100px;
    min-width: 80px;
    height: 80px;
    margin-right: 0;
	margin-top: 10px;
	margin-bottom: 0;
}
.catalog-feed__item .catalog-card:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}	
.catalog-feed__item .catalog-card:hover .catalog-card__title {
	background: transparent;
}	
.catalog-feed__item .catalog-card:hover .catalog-card__title a {
	color: #000;	
}	
.catalog-feed__table:first-of-type {
    margin-top: 0;
}
.basic-layout__module.pages-nav .pages-nav__fast:hover {
	background: rgba(79, 54, 227, 0.2);
}
/*Страница каталога*/















/*новый год*/
/*
#top_under_menu {
    background: #4F36E3 url(../img/ny_back.svg) 50% -2px repeat-x;
	background-size: contain;
}	
.geolocation, #top_under_menu .contact-widget > div {
	text-shadow: 1px 1px 2px #4F36E3, 1px 1px 3px #4F36E3;
}
*/
/*новый год*/


