.dsearch_table {
    border: none;
    border-top: 1px solid #adbdca;
    border-spacing: 0;
    width: 100%;
}
.dsearch_table th {
    background-color: #aebbc0;
	background-image: linear-gradient(to bottom, #b9c7cd, #aab6b8);
    border: 1px solid;
    border-color: #d9e0e4 #89979d #919b9d #ebeef0;
    font-weight: bold;
    text-shadow: 0 1px rgba(255,255,255,0.7);
    height: 21px;
    vertical-align: middle;
    padding: 6px 0 4px 0;
	color: #000;
    font-size: 13px;
}	
.dsearch_table td {
    background-color: #f5f9f9;
    text-align: left;
    padding-left: 16px;
    border: none;
    color: #000;
    font-size: 13px;
    height: 15px;
    padding: 11px 0 10px 16px;
    text-align: left;
    vertical-align: top;	
}
.dsearch_table .white td {
    background-color: #fff;
}