@font-face {
    font-family: 'Circe Regular';
    src: url('fonts/Circe-Regular/.eot');
    src: url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Circe-Regular.woff') format('woff'),
         url('fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Circe Bold';
    src: url('fonts/Circe-Bold/.eot');
    src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Circe-Bold.woff') format('woff'),
         url('fonts/Circe-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Circe ExtraBold';
    src: url('fonts/Circe-ExtraBold/.eot');
    src: url('fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Circe-ExtraBold.woff') format('woff'),
         url('fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
@font-face{src:url(../assets/fonts/circe-regular.woff) format("woff");font-display:swap;font-family:Circe;font-weight:400;font-style:normal;font-display: swap;}@font-face{src:url(../assets/fonts/circe-bold.woff) format("woff");font-display:swap;font-family:Circe;font-weight:700;font-style:normal;font-display: swap;}