.orange {
	color: #f39101;
}
.blue {
	color: #0c59cf;
}
.underline {
	text-decoration: underline;
}
.header-contacts__mail {
    margin-top: 4px;
    color: #0c59cf;
}
.eshop-panel__search {
}
.eshop-panel__search .geolocation {
	margin-top: 0;
	white-space: nowrap;
}
.eshop-panel__search .geolocation a {
	margin-top: -60px;
	display: block;
}
.geolocation a:after {
    top: -55px;
}
#fancybox-close {
     right: -35px;
}	
.catalog-table__column--basic.groupped {
}
.catalog-table__column--basic.is-merged h3 strong {
	display: none;
}
.global-search__hint {
	color: #b5b5b5;
}
.special-products__tabs .widget-tabs__list {
	justify-content: center;
}
.myorders .orders-table__content {
    border-left: solid 1px #dedede;
}	
.myorders h3.orders-table__content {
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	white-space: nowrap;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;	
}
#form_auth .form__input {
	width: auto;	
}
.bx-system-auth-form .popUp-close {
	overflow: visible;
	width: 35px;
}
.delivery_items {
    width: 100%;
    height: 69px;
    display: -webkit-inline-box;
    display: -ms-flexbox;
    
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 0px;
	border-bottom: 1px solid #E7E7E7;	
}

.delivery_item {
        font-family: 'Circe Regular';
	font-size: 16px;
	line-height: 24px;
    margin: 45px 25px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    color: #000;
}

.delivery_item.active {
    font-family: 'Circe Bold';
    color: #000;
	border-bottom: 2px solid #0c59cf;
}

.delivery__tabs-list {
    display: none;
    margin-top: 35px;
}

.delivery__tabs-list.active {
    display: block;
}

.delivery__tabs-list > p {
    line-height: 1.5rem;
    margin-bottom: 25px;
}

.blue-block {
	background: #0c59cf;
	color: #fff;
	padding: 12px 15px;
	margin-top: 20px;
}
.surface-block-container {
	margin-right: -20px;
	margin-bottom: 20px;
	overflow: hidden;
}
.surface-block {
	float: left;
	width: 25%;
	height: 250px;
	text-align: center;
	margin-top: 20px;
}
.surface-inblock {
	margin-right: 20px;
	height: inherit;	
}
.surface-block .surface-image {
	height: 80%;
}
.surface-block .surface-name {
	height: 20%;
	background: #457fd8;
	color: #fff;
	font-size: 18px;
	vertical-align: middle;
	padding: 0 10px;
}
.surface-block .surface-name span {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

table.tech {
	margin: 20px 0 30px;
	border: 1px solid #1e1e1e;
}
table.tech td {
}	
table.tech th, table.tech td {
	text-align: center;
	padding: 10px;
	border: 1px solid #1e1e1e;	
}	
table.tech .dark td {
    background-color: #eee;
}
table.tech th {
    background-color: #eee;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
}	
.tech_title {
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}	
ol.tech {
}
ol.tech li {
	list-style-type: decimal;
}
.website-logo {
	width: 270px;
	height: 96px;
	background: url(/local/templates/moskrep/assets/design/website-logo/krep-komp.svg) no-repeat 0% 50%;
	background-size: contain;
}
.catalog-table .item_img_block {
	background: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	position: absolute;
	margin-left: -151px;
	margin-top: 0;
	z-index: 20;
	display: none;
}
.catalog-feed__table:first-child .catalog-table .item_img_block {
	margin-top: 51px;
}
.catalog-table .item_img_block img {
	width: 150px;
}
.catalog-table .item_img_block div {
	width: 150px;
	padding: 5px;
	box-sizing: padding-box;
	font-size: 12px;
	line-height: 15px;
	background: #0c59cf;
	color: #fff;
}
.catalog-table:hover .item_img_block {
	display: block;
}
.catalog-table .catalog-table__column:first-child:hover .item_img_block {
	display: none;
}
.catalog-table .blue-table__tr .blue-table__td:nth-child(1):hover + .blue-table__td:nth-child(2) .item_img_block {
	display: none!important;
}	
.client-widget__link.login__btn::before {
	display: none;
}
.not-decoration {
	text-decoration: none!important;
}
.pickup-view, .delivery-view {
	cursor: pointer;
}
.catalog-table {
	overflow: visible;
}
.privacy {
	margin-top: 5px;
}
.simple-article__content.wysiwyg-block {
	margin: 20px 0;
}
.sales-slider__title {
	text-align: center;
	margin: 30px 0;
}
.sales-slider__header {
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#banner_block {
	padding: 0;
	border-spacing: 0;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
}
#banner_block td {
	width: 33.4%;
	color: #fff;
	font-weight: 500px;
	background: #0c59cf url(/local/templates/moskrep/img/banner_ico02.svg) 5px 50% no-repeat;
	background-size: contain;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;	
}
#banner_block td:first-child {
	width: 33.3%;
	border-left: 0 solid #fff;
	background: #0c59cf url(/local/templates/moskrep/img/banner_ico01.svg) 5px 50% no-repeat;
	background-size: contain;
}
#banner_block td:last-child {
	width: 33.3%;
	border-right: 0 solid #fff;	
	background: #0c59cf url(/local/templates/moskrep/img/banner_ico03.svg) 5px 50% no-repeat;
	background-size: contain;
}
#banner_block td div {
	width: 100%;
	padding: 10px 10px 10px 130px;
	box-sizing: border-box;
}
#payment {
	padding-top: 20px;
}





@media (max-width: 1200px) {
.catalog-table .item_img_block {
	display: none!important;
}
#banner_block td {
	width: 100%;
	border-left: 0 solid #fff;
	border-right: 0 solid #fff;	
	display: block;
	margin-bottom: 10px;
	min-height: 100px;
}
#banner_block td:first-child {
	width: 100%;
}
#banner_block td:last-child {
	width: 100%;
	margin-bottom: 3px;	
}
#banner_block td div  {
	display: table-cell;
	width: 100%;
	height: 100px;
	vertical-align: middle;
}
}
@media (max-width: 800px) {
.global-search__hint.global-search__hint--lite.moskrep_submit, .surface-block, .tech_title, table.tech {
	display: none;
}
}
@media (max-width: 685px) {
.catalog-table__column--basic.is-merged h3 strong {	
	display: inherit;
}		
}