
.intro-slider__image { width: auto!important;height: 50%!important;display: block;background-size: 100%;}
.intro-slider__item { width: auto!important;height: 50%!important;display: block;background-size: 100%;}
