.contact .scheme {
	font-size: 18px;
	text-decoration: underline;
	color: #f39101;
}
.contact .scheme:hover {
}
.popup-window-with-titlebar .popup-window-content, .popup-window-content-gray .popup-window-content {
	background: #fff;
}
.contact .scheme_text {
	display: none;
}
.scheme_text .address {
	color: #0c59cf;
	font-size: 16px;
	margin-bottom: 0px;
}
.scheme_text img {
	width: 400px;
	margin: 10px 0 15px;
	display: block;
}
.scheme-title-bar {
	margin: 30px 20px 20px;
}
.popup-window.popup-window-with-titlebar {
    border-radius: 10px;
	min-height: 300px;
	min-width: 200px
}
