






#shops {
	border: 0px solid #d5d5d5;
}
#shops {
	overflow: hidden;
}
#shops ul.left {
	float: left;
	width: 250px;
	height: 600px;
	display: block;
	border-right: 0px solid #d5d5d5;
	overflow-y: auto;
}
#shops ul.left li {
	display: block;
	padding: 10px;
	border-bottom: 0px solid #d5d5d5;
	cursor: pointer;
	overflow: hidden;
	font-size: 14px;
	line-height: 18px;
}
#shops ul.left li:last-child {
	border-bottom: transparent;
}
#shops ul.left li:hover {
	background: #f5f5f5;
}
#shops ul.left li.active {
	background: #f0f0f0;
}
#shops ul.left li div.label {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
	position: relative;
	top: 2px;
}
#shops ul.left li .line-btn {
	margin: 12px 0;
	font-size: 14px;
	text-align: left;
	justify-content: left;
}
#shops ul.left li .line-btn .blue-btn {
	height: 30px;
	width: 80%;
}
.inblock {
	font-size: 14px;
}
.inblock .type {
	color: #676767; 
	font-size: 14px;
}
.inblock .preview {
	color: #149000;
	font-size: 14px;
}	
.inblock .line-btn {
	margin: 12px 0;
	font-size: 14px;
	text-align: left;
	justify-content: left;
}
.inblock .line-btn .blue-btn {
	height: 30px;
}
.inblock div.label {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 7px;
	border-radius: 10px;
	position: relative;
	top: 5px;
}
#shops ul.left li span {
	color: #676767;
	font-size: 14px;
	line-height: 18px;
}
#shops ul.left li span span {
	color: #149000;
	font-size: 14px;
	line-height: 18px;
}
#current_shop_table {
	margin: 20px 0 40px;	
	width: 100%;
}
#current_shop_table th, #current_shop_table td {
	padding: 10px 10px 0 10px;	
	text-align: center;
	font-size: 16px;
	line-height: 18px;
}
#current_shop_table th {
	font-size: 20px;
	line-height: 29px;
}	
#current_shop_table th:first-child, #current_shop_table td:first-child {
	padding: 10px 10px 0 0;	
	text-align: left;
}
#current_shop_table th:last-child, #current_shop_table td:last-child {
	padding: 10px 0 0 10px;	
	text-align: right;
}
#shop_table {
	margin: 20px 0;	
	width: 100%;
}
#shop_table th, #shop_table td {
	padding: 7px 10px 7px 7px;
	text-align: left;
	vertical-align: middle;	
}
#shop_table th {
	background: #d5d5d5;
	font-weight: normal;
}
#shop_table td {
	padding: 10px 10px 10px 7px;
	border-bottom: 2px solid #d5d5d5;
	font-size: 14px;
	line-height: 18px;		
}
#shop_table td:first-child {
	padding-right: 0;
}
#shop_table td.nowrap {
	white-space: nowrap;
}
#shop_table td.gray {
	color: #999;
}
#shop_table td.blue {
	color: #0c59cf;
}
#shop_table div.label {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
	position: relative;
	top: 2px;
}
#shops #map {
	height: 600px;	
	margin-left: 270px;
}
/* Let's get this party started */
#shops ul.left::-webkit-scrollbar {
    width: 3px;
}
 /* Track */
#shops ul.left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0); 
    -webkit-border-radius: 0;
    border-radius: 0;
	background: #e7e7e7;
}
/* Handle */
#shops ul.left::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #0c59cf; 
   -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
   height: 60px;
   max-height: 60px;
}
#shops ul.left::-webkit-scrollbar-button {
	height: 20px;
}
#shops ul.left::-webkit-scrollbar-thumb:hover {
  background: rgba(12,89,207,0.7);
}
#shop #map {
	height: 400px;	
	margin-left: 360px;
	border: 0px solid #d5d5d5;
}
#shop .left {
	float: left;
	width: 339px;
	height: 400px;
	overflow: hidden;
}
#shop .left .slider-for img {
	width: 339px;
}
#shop .left .slider-nav {
	margin-top: 20px;
	width: 349px;
}
#shop .left .slider-nav div.box {
	width: 114px;
}
#shop .left .slider-nav img {
	width: 104px;
	cursor: pointer;
}
#shop .how {
	width: 100%;
	clear: both;
	overflow: hidden;
	margin-top: 30px;
}
#shop .how h2 {
	float: left;
	font-size: 20px;
	line-height: 29px;
	font-weight: bold;
	font-family: 'Circe Regular';
}
#shop .how h3 {
	font-size: 16px;
	line-height: 18px;
	color: #0c59cf;
	width: 100%;
	clear: both;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-family: 'Circe Regular';
}	
#shop .how .blue-btn {
	height: 36px;
	padding-left: 20px;
	padding-right: 0;
	background-image: url(images/print.svg);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px 50%;
	width: 160px;
}
#shop .how .scheme {
	width: 70%;
	display: block;
	clear: both;
	margin-top: 0;
}
#click_scheme {
	display: block;
	margin: 30px 0 0;
	padding: 3px 0;
	padding-left: 32px;
	font-size: 16px;
	line-height: 18px;
	color: #0c59cf;
	text-decoration: underline;
	background-image: url(images/cam.svg);
	background-repeat: no-repeat;
	background-size: contain;	
	background-position: 0 -2px;
}
#click_scheme:hover {
	text-decoration: none;
}
#popup-window-titlebar-scheme {
	display: none;	
}
.popup-window.popup-window-with-titlebar {
	padding: 15px;
}
.scheme-title-bar {
	font-size: 16px;
	position: relative;
	top: 15px;
	color: #0c59cf;
}
.popup-window {
	border-radius: 10px;
}
#scheme_text {
	display: none;
}
#scheme_text video {
	width: 560px;
	margin-bottom: 20px;
	clear: both;
	display: block;
}
#shop .car {
	margin: 10px 0 30px;
}
#shop .print {
	display: none;
}
.print_btn {
	visibility: hidden;
}


@media print {
body > *:not(main) {
    display: none;
}
.map {
    width: 400px;
    height: 300px;
    background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=Wien+Floridsdorf&zoom=13&scale=false&size=400x300&maptype=roadmap&format=png&visual_refresh=true');
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}	
.noprint {
    display: none!important;
	visibility: hidden!important;
	opacity: 0!important;
}	
#bx-panel, #bannerIsWork, .breadcrumbs, .header, .two-column__left, .footer, #click_scheme, #jivo-iframe-container, jdiv, h2.s28-title, .requisites {
    display: none!important;	
	visibility: hidden!important;
	opacity: 0!important;	
}
h1.s38-title {
	font-size: 22px;
	margin-top: -30px!important;
	position: relative;
	z-index: 1000;	
}
#shop .how {
	position: relative;
	top: -50px;
}
#qr {
	float: left;
	height: 200px;
	width: 200px;
	margin: 30px;
}
#shop .how .scheme {
	margin-bottom: -10px;
	margin-left: 10px;
	margin-top: 10px;
	float: right;
	width: 570px;
	clear: right;
	page-break-after: always;
}
.two-column.inner, .two-column__right {
	width: 100%;
	padding: 0;
	margin: 0;
}
#current_shop_table {
    margin: 10px 0 10px;
}
#current_shop_table th, #current_shop_table td {
	padding: 5px;
}
#current_shop_table th:first-child, #current_shop_table td:first-child {
	padding: 5px 5px 5px 0;	
}
#current_shop_table th:last-child, #current_shop_table td:last-child {
	padding: 5px 0 5px 5px;	
}
#shop .how h3 {
	margin: 10px 0;
}	
#shop .afoot, #shop .car {
	margin-top: 0px;
	line-height: 24px;
	font-size: 18px;
}
#shop #map {
	border: none;
}
#shop .print {
	display: block;
}
.shop_table {
	width: 100%;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  -webkit-filter: saturate(500%) grayscale(50%) contrast(110%);
          filter: saturate(500%) grayscale(50%) contrast(110%);
}
[class="scheme"] {
  -webkit-filter: saturate(250%) grayscale(50%);
          filter: saturate(250%) grayscale(50%);
}
}










@media (max-width: 685px) {
.catalog-table__column--basic.is-merged h3 strong {	
	display: inherit;
}
.shop_table tr td:nth-child(3), .shop_table tr th:nth-child(3) {
	display: none;
}
#shops ul.left {
	display: block;
	float: none;	
	width: 100%;
}
#shops #map {
	margin-left: 0;
}
#shop #map {
    margin-left: 0;
	clear: both;
}	
#shops ul.left {
    overflow-y: hidden;
	margin-bottom: 20px;
}
#shops ul.left li .line-btn .blue-btn {
	WIDTH: 100%;
}
/* Let's get this party started */
#shops ul.left::-webkit-scrollbar {
    opacity: 0;
}
 /* Track */
#shops ul.left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 #fff; 
	background: #fff;
}
/* Handle */
#shops ul.left::-webkit-scrollbar-thumb {
    background: #fff; 
   -webkit-box-shadow: #fff;
}
#shops ul.left::-webkit-scrollbar-button {
	background: #fff;
}
#shops ul.left::-webkit-scrollbar-thumb:hover {
  background: #fff;
}	
}