.faq__topic {
	font-weight: 600; 
    font-size: 24px; 
    line-height: 1.35; 
    color: #000000; 
    margin: 40px 0px 20px; 
}
.faq__box {
    margin-bottom: 20px;
}
.faq__name {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px dashed;
    display: initial;
    cursor: pointer;
	line-height: 1;
}
.faq__desc {
    display: none;
    margin-top: 15px;
    font-size: 16px;
    color: #000;
}
.faq__desc p { 
	margin: 10px 0px; 
} 
.faq__desc p:first-child { 
	margin-top: 0px; 
}  
.faq__desc p:last-child { 
	margin-bottom: 0px; 
}