.cookie {
	width: 100%;
	min-height: 50px;
	padding: 10px 20px;	
	background: #fff;
	color: #555;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	position: fixed;
	bottom: 0;
	z-index: 20000;
	box-shadow: 0px -5px 14px rgb(62 62 62 / 10%);	
}
@media (max-width: 685px) {	
	.cookie {
		flex-wrap: wrap;
	}	
}
.cookie__leftside {
    width: calc(100% - 150px);
}
@media (max-width: 1260.98px) {
	.cookie__leftside {
		width: auto;
		margin-right: 20px;
	}	
}
@media (max-width: 685px) {	
	.cookie__leftside {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}	
}
.cookie__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    color: #777;
}
.cookie__rightside {
    display: flex;
    align-items: center;
}
.cookie__button {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    background-color: #552fec;
	height: 26px;
	padding: 3px 12px 0;
	min-width: 100px;
}