.category-blocknew .category-blocknew__list .category-blocknew__item .active{
	background: rgba(79, 54, 227, 0.2) !important;
	border: 1px solid #4f36e3 !important;
}
.youtube_video {
	height: 500px;
	margin: 10px 0;
}
@media (max-width: 1200px) {
.youtube_video {
	height: 340px;
}
}
.catalog-card__goto-video {
	
}
.catalog-card__image_goto-video {
	position: relative;
	top: -5px;
	left: -4px;
}
.catalog-card__image {
	position: relative;
	left: -4px;
}
