.youtube_video {
	height: 500px;
	margin: 10px 0;
}
@media (max-width: 1200px) {
.youtube_video {
	height: 340px;
}
}
.catalog-card__goto-video {
	
}
.catalog-card__image_goto-video {
	position: relative;
	top: -5px;
	left: -4px;
}
.catalog-card__image {
	position: relative;
	left: -4px;
}